.jumbo{
    /* background-image: url('../images/image.jpg'); */
    background: url("D:/Enguide/Enguide_Project/Assets/images/mechanics.jpg") no-repeat center center;
    /* background-image: url('../images/bg4.jpg') ; */
    background-size: cover;
    color: magenta;
    font-family: 'Ubuntu';
    opacity: 0.9;
}

.col-sm-3{
    font-family: 'Ubuntu';
    font-size: larger;
}
.myAlert-bottom{
    font-family: 'Ubuntu';
    font-size: larger;
  
    

}